@{
    ViewData["Title"] = "JobZila Home Page";
}


<main>
        <section class="hero">

            <section class="hero-section">
                <h2>Welcome to Jobzila</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae vitae neque soluta perspiciatis nulla quo laboriosam, tempore dignissimos at ipsum.</p>
            </section>
        </section>

</main>