@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<main>
    <section class="contact-section">
        <h2>Job Search</h2>
        <div class="contact">

            <form action="" class="contact-form">

                <input type="text" id="name" name="name" required placeholder="keyword">

                <input type="email" id="email" name="email" required placeholder="location">


                <select name="category" id="category">
                    <option value="0">All Categories</option>
                    <option value="1">IT</option>
                    <option value="2">Finance</option>
                    <option value="3">Billing</option>
                    <option value="4">Marketing</option>



                </select>
                <input type="submit" value="Search jobs" />
            </form>

        </div>
        </h2>
    </section>
</main>
